.header{
    margin-left: 5%;
    
}
.header h1{
    color: rgb(133, 133, 246);
}
.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: lightgray;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media screen and (max-width: 480px) {
    .main-container {
       display: flex;
       flex-direction: column-reverse;
       
      
    }
  }
@media screen and (max-width: 480px) {
    .items-container {
       display: flex;
       flex-direction: column-reverse;
       margin-left: 10%;
       
      
    }
  }